.creacionRaza {
  width: 100%;
  height: 100vh;
  background-image: url("../../img/fondo\ crear\ perro\ OK.jpg");
  font-family: $fuente_principal;
  background-size: cover;
  background-position-x: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  h1 {
    margin-right: 2rem;
    padding-top: 5rem;
  }

  .contenedor__form {
    background-color: aquamarine;
    width: 80%;
    height: 80%;
    margin-left: 4rem;
    // display: grid;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}

.display_none {
  display: none;
  color: aqua;
}
