.home {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-top: 2rem;
  padding-bottom: 8rem;
  background-color: $colorFondo;
  .home__formulario {
    background-color: $colorNavegacion;
    height: 82rem;

    .home__formulario__input {
      display: flex;
      justify-content: center;
      margin: 4rem 1rem;
      // width: ;
    }
    .home__formulario__ordenamientos {
      display: flex;
      flex-direction: column;
      margin: 1rem 10%;
      font-family: $fuente_principal;

      label {
        display: flex;
        margin: 0.6rem;
        align-items: flex-start;
        color: white;
      }
      select {
        font-size: 1.4rem;
        margin: 1rem;
      }
    }
  }
  .paginado {
    grid-column: 2/3;
    //margin-left: 80%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 98%;
    gap: 1rem;
  }
  .boton-home {
    width: 75%;
    margin-left: 1rem;
  }
  .boton-lupa {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
  }
}
@media (max-width: 800px) {
  .home {
    display: grid;
    grid-template-columns: 25% 80%;

    .home__formulario {
      background-color: $colorNavegacion;
      height: 82rem;

      .home__formulario__input {
        input {
          text-align: center;
          font-size: 1.2rem;
          width: 15rem;
        }
      }
      .home__formulario__ordenamientos {
        margin: 4rem 10%;

        label {
          display: flex;
          margin: 0.6rem;
        }
        select {
          width: 14rem;
          font-size: 1.2rem;
          margin: 2rem;
        }
      }
    }
    .paginado {
      grid-column: 2/3;
      //margin-left: 80%;
      margin-top: 1rem;
      margin-right: 3rem;

      width: 90%;
      button {
        margin-left: 2rem;
      }
    }
    .boton-home {
      font-size: 1rem;
      width: 80%;
      margin-left: 2rem;
    }
  }
}
@media (max-width: 600px) {
  .home {
    .home__formulario {
      background-color: $colorNavegacion;
      height: 125rem;

      .home__formulario__input {
        input {
          text-align: center;
          font-size: 1.2rem;
          width: 7rem;
        }
      }
      .home__formulario__ordenamientos {
        margin: 4rem 10%;

        label {
          font-size: 1.15rem;
          display: flex;
          margin: 0;
        }
        select {
          width: 7rem;
          font-size: 1.2rem;
          margin: 2rem 0;
        }
      }
    }
    .paginado {
      grid-column: 2/3;
      //margin-left: 80%;
      margin-top: 1rem;
      margin-right: 3rem;

      width: 90%;
      button {
        margin-left: 0;
      }
    }
    .boton-home {
      padding: 0.8rem 0;
      text-align: center;
      font-size: 1rem;
      width: 95%;
      margin-left: 0;
    }
  }
}
