.navegacion {
  background-color: $colorNavegacion;
  display: flex;
  justify-content: space-around;
  height: 9rem;

  .navegacion__enlaces {
    align-items: center;
    margin-left: 40rem;
    display: flex;
    gap: 2.5rem;

    a {
      color: white;
    }
    a:hover {
      color: rgba(255, 255, 0, 0.712);
    }
  }
}
@media (max-width: 800px) {
  .navegacion {
    height: 9rem;

    .navegacion__enlaces {
      margin-left: 25rem;
      gap: 1rem;
      a {
        margin-left: 2rem;
      }
    }
  }
}
@media (max-width: 600px) {
  .navegacion {
    height: 9rem;

    .navegacion__enlaces {
      margin-left: 2rem;
      gap: 1rem;
      a {
        margin-left: 2rem;
      }
    }
  }
}
