.navegacion {
  background-color: $colorNavegacion;
  display: flex;
  justify-content: space-around;
  height: 9rem;

  .navegacion__enlaces {
    align-items: center;
    margin-left: 40rem;
    display: flex;
    gap: 2.5rem;

    a {
      color: white;
    }
    a:hover {
      color: rgba(255, 255, 0, 0.712);
    }
  }
}
