.ordenamientos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin-left: 1rem;
  width: 98%;
  img {
    width: 360px;
    height: 250px;
  }

  .ordenamientos__tarjeta {
    border-radius: 2rem;
    background-color: $colorTarjeta;
    transition: transform 450ms;

    a {
      font-size: 1.6rem;
      font-family: $fuente_principal;
      color: black;
      font-weight: $bold;
    }

    p {
      width: 95%;
      font-size: 1.6rem;
    }
  }
  .ordenamientos__tarjeta:hover {
    transform: scale(1.04);
    opacity: 1;
  }
}
.loading {
  width: 100%;
  height: 60vh;
  text-align: center;
  padding: 10rem auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .spin {
    height: 10rem;
    width: 10rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: App-logo-spin infinite 1s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.boton__borrado {
  //  justify-items: left;
  color: black;
  height: 3rem;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  padding-top: 0.5rem;
  text-align: start;
}
@media (max-width: 800px) {
  .ordenamientos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    margin-left: 1rem;
    width: 98%;
    width: 55rem;
    img {
      width: 100%;
      height: 130px;
    }
  }
}
@media (max-width: 600px) {
  .ordenamientos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 98%;
    width: 26rem;
    .ordenamientos__tarjeta {
      width: 12rem;
      a {
        font-size: 1.4rem;
      }

      p {
        width: 95%;
        font-size: 1.4rem;
      }
    }
  }
}
