// Fuentes
$fuente_principal: "Poppins", sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 767px;
$desktop: 1024px;

// Colores
$colorFondo: #bdd2b6;
$colorNavegacion: #798777;
$colorTarjeta: #f8ede3;

$separacion: 5rem;

// Fuentes

$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
